@model BuildingFacilityManager.ViewModels.AssetsViewModel

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Label</th>
            <th>Space Location</th>
            <th>Status</th>
            <th>Type</th>
            <th>InstallationDate</th>
            <th>ManufacturedDate</th>
            <th>Price</th>
            <th>Vendor</th>
            <th>Warranty</th>
            <th>Work Orders</th>
            @*<th>Related Asset</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model.Assets)
        {

            <tr id="id-@asset.Id">

                <td>
                    @asset.Label
                </td>
                <td>
                    @asset.Space.Label
                </td>
                <td>
                    @asset.AssetStatus
                </td>
                <td>
                    @asset.AssetType
                </td>
                <td>
                    @asset.InstallationDate
                </td>
                <td>
                    @asset.ManufacturedDate
                </td>
                <td>
                    @asset.Price
                </td>
                <td>
                    @asset.Vendor
                </td>
                <td>
                    @asset.Warranty
                </td>

                <td>
                    @Ajax.ActionLink("Work Orders", "AssetsWorkOrders", new { id = asset.Id }, new AjaxOptions { HttpMethod = "GET" })
                </td>


                @*<td>
                        <button type="button" class="btn btn-default" style="float: right" data-toggle="modal" data-target="#myModal-AssetWorkOrders">
                            Work Orders
                        </button>
                    </td>*@
                @*<td>
                        @foreach (var related in @asset.RelatedAssets)
                        {
                            @related.Label
                        }

                    </td>*@
            </tr>
        }
    </tbody>
</table>
