@model BuildingFacilityManager.ViewModels.WorkOrderViewModel

<h2>@Model.Asset.Label Details</h2>

<div class="parent-box-asset-data">

    <div class="row-extended-details" id="@Model.Asset.Id-details">
        <div class="col-md-12">



            <div class="thumbnail">

                <div class="caption">

                    <span class="asset-details-data">Id</span>: <span>@Model.Asset.Id</span>
                    <hr />
                    <span class="asset-details-data">Space</span>: <span>@Model.Asset.Space.Label</span>
                    <hr />
                    <span class="asset-details-data">Status</span>: <span>@Model.Asset.AssetStatus</span>
                    <hr />
                    <span class="asset-details-data">Type</span>: <span>@Model.Asset.AssetType</span>
                    <hr />
                    <span class="asset-details-data">Installation Date</span>: <span>
                        @{
                            if (Model.Asset.InstallationDate != null)
                            {
                                @Model.Asset.InstallationDate.Value.ToShortDateString()

                            }

                        }
                    </span>
                    <hr />
                    <span class="asset-details-data">Vendor</span>: <span>@Model.Asset.Vendor</span>
                    <hr />
                    <span class="asset-details-data">Manufactured Date</span>: <span>
                        @{
                            if(Model.Asset.ManufacturedDate != null)
                            {
                                @Model.Asset.ManufacturedDate.Value.ToShortDateString()
                            }
                        }
                      </span>
                    <hr />
                    <span class="asset-details-data">Warranty</span>: <span>@Model.Asset.Warranty</span>
                    <hr />
                    <span class="asset-details-data">Expected Life</span>: <span>@Model.Asset.ExpectedLife</span>
                    <hr />
                    <span class="asset-details-data">Purchase Date</span>: <span>@Model.Asset.PurchaseDate</span>
                    <hr />
                    <span class="asset-details-data">Price</span>: <span>@Model.Asset.Price EGP</span>

                </div>
            </div>
        </div>
    </div>
    <div class="row-extended-div"></div>
    <div class="row-extended" id="@Model.Asset.Id-details">
        <div class="mw-90">



            <div class="thumbnail">

                <div class="caption">

                    <h5>
                        the Image of the Asset will appear here
                    </h5>
                </div>
            </div>
        </div>
    </div>

</div>

