@model BuildingFacilityManager.ViewModels.TaskViewModel

<h3>Today's Tasks</h3>

<div class="thumbnail">

    <div class="caption">
        <table class="table table-hover table-bordered" id="TodayTasksTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Inspector</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Periodic Inspection</th>
                    <th>Inspection Type</th>
                    <th>Location</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.TodayInspectionTasks)
                {

                    <tr id="id-@task.Id">

                        <td>
                            @task.Id
                        </td>
                        <td>
                            @task.Description
                        </td>
                        <td>
                            @{
                                if (task.Inspector != null)
                                {
                                    @task.Inspector.Fullname

                                }

                            }
                        </td>
                        <td>
                            @task.InspectionStatus

                        </td>
                        <td>
                            @task.StartDate
                        </td>
                        <td>
                            @task.EndDate
                        </td>
                        <td>
                            @task.PeriodicInspection
                        </td>
                        <td>
                            @task.InspectionType
                        </td>
                        <td>
                            @{
                                if (@task.StoreyInspection != null)
                                {
                                    @task.StoreyInspection.Label

                                }

                            }
                        </td>
                        <td>

                            <button type="button" title="Change Status" style="background-color: skyblue; background-repeat: no-repeat; border: none;cursor: pointer; overflow: hidden; outline: none;" data-toggle="modal" data-target="#Change-Status" onclick="TaskIdForStatusChange(@task.Id)">
                                <span class="far fa-edit" aria-hidden="true"></span>
                            </button>


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
