
@model BuildingFacilityManager.ViewModels.BuildingViewModel

@{

    using (Ajax.BeginForm("AddStorey", "Building", new AjaxOptions()
    {
        Confirm = "Are you Sure ?",
        HttpMethod = "Post",
        UpdateTargetId = "storey-table",
        InsertionMode = InsertionMode.InsertAfter,
        OnSuccess = "$('.close').click();"

    }))
    {


        <div class="modal fade" id="myModal-AddStorey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add a new Storey</h4>
                    </div>
                    <div class="modal-body">
                        
                        @{
                            string bId = Model.Building.Id.ToString();
                           
                        }

                        @Html.HiddenFor(e => e.Storey.BuildingId, new { @Value = bId })  

                        <div>
                            @Html.HiddenFor(s => s.Storey.Id)

                        </div>

                        <div>
                            @Html.LabelFor(e => e.Storey.Label)
                            @Html.TextBoxFor(e => e.Storey.Label, new {@class = "form-control"})
                            @Html.ValidationMessageFor(e => e.Storey.Label)

                        </div>
                        <div>
                            @Html.LabelFor(e => e.Storey.Description)
                            @Html.TextBoxFor(e => e.Storey.Description, new {@class = "form-control"})
                            @Html.ValidationMessageFor(e => e.Storey.Description)

                        </div>
                        @*<div>
                            @Html.LabelFor(e => e.Storey.Length)
                            @Html.TextBoxFor(e => e.Storey.Length, new {@class = "form-control", placeholder = "Enter length in Meter"})
                            @Html.ValidationMessageFor(e => e.Storey.Length)

                        </div>
                        <div>
                            @Html.LabelFor(e => e.Storey.Width)
                            @Html.TextBoxFor(e => e.Storey.Width, new {@class = "form-control", placeholder = "Enter Width in Meter"})
                            @Html.ValidationMessageFor(e => e.Storey.Width)

                        </div>
                        <div>
                            @Html.LabelFor(e => e.Storey.Level)
                            @Html.TextBoxFor(e => e.Storey.Level, new {@class = "form-control", placeholder="Enter the Level of the Storey in Meter"})
                            @Html.ValidationMessageFor(e => e.Storey.Level)

                        </div>*@
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

        </div>

    }
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}
