@model BuildingFacilityManager.ViewModels.BuildingViewModel




<button type="button" class="btn btn-success" style="float: right" data-toggle="modal" data-target="#myModal-AddSpace">
    Add
</button>
<h3>Spaces</h3>

<div class="thumbnail">

<div class="caption">
<table class="table table-hover table-bordered" id="spaces">
    <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Description</th>
            <th>Type</th>
            <th>Storey</th>
            <th>Length</th>
            <th>Width</th>
            <th>Walls Height</th>
            <th>Position X</th>
            <th>Position Y</th>
        </tr>
    </thead>
    <tbody>
        <div id="storey-table">
            @foreach (var space in Model.Spaces)
            {

                <tr id="id-@space.Id">
                    
                    <td>
                        @space.Id
                    </td>
                    <td>
                        @space.Label
                    </td>
                    <td>
                        @space.Description
                    </td>
                    <td>
                        @space.SpaceType
                    </td>

                    <td>
                        @space.Storey.Label Storey
                    </td>
                    <td>
                        @space.Length m
                    </td>
                    <td>
                        @space.Width m
                    </td>
                    <td>
                        @space.WallsHeight m
                    </td>
                    <td>
                       +@space.PositionX m in X dir
                    </td>
                    <td>
                        +@space.PositionY m in Y dir
                    </td>
                </tr>
            }
        </div>

    </tbody>
</table></div></div>


