@using BuildingFacilityManager.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Facility Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/Images/navbar-logo.png" style="float:left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Facility Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        string area = "";
                        if (User.IsInRole(SystemRoles.Admin))
                        {
                            area = "Admin";
                        }
                        else if (User.IsInRole(SystemRoles.Inspector))
                        {
                            area = "Inspector";

                        }
                        else
                        {
                            area = "Org";

                        }


                    }
                    <li>  @Html.ActionLink("DashBoard", "Index", "Dashboard", new { area = area }, null)</li>
                    <li> @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Facility Manager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

    <script src="../../Scripts/ThreeJs/Libraries/three.js"></script>
    <script src="../../Scripts/ThreeJS/Classes/Helper.js"></script>
    <script src="../../Scripts/ThreeJS/Classes/Floor.js"></script>
    <script src="../../Scripts/ThreeJS/Classes/Room.js"></script>
    <script src="../../Scripts/ThreeJs/Libraries/OBJLoader.js"></script>
    <script src="../../Scripts/ThreeJs/Libraries/dat.gui.min.js"></script>
    <script src="../../Scripts/ThreeJs/Libraries/threex.domevents.js"></script>
    <script src="../../Scripts/ThreeJs/Libraries/threex.linkify.js"></script>
    <script src="../../Scripts/ThreeJs/Libraries/OrbitControls.js"></script>
    <script type="module" src="../../Scripts/ThreeJs/main.js"></script>
</body>
</html>
