@model BuildingFacilityManager.ViewModels.WorkOrderViewModel


<button type="button" class="btn btn-success" style="float: right" data-toggle="modal" data-target="#myModal-AddWork">
    Add
</button>

<table class="table table-hover table-striped" id="workOrderTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Status</th>
            <th>Asset</th>
            <th>Location</th>
            <th>Storey</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var work in Model.WorkOrders)
        {

            <tr id="id-@work.Id">
                
                <td>
                    @work.Id
                </td>
                <td>
                    @work.Description
                </td>
                <td>
                    @work.WorkOrderStatus
                </td>
                <td>
                    @work.Asset.Label
                </td>
                <td>
                    @work.Asset.Space.Label
                </td>
                <td>
                    @work.Asset.Space.Storey.Label
                </td>
            </tr>
        }
    </tbody>
</table>
