@using BuildingFacilityManager.Models.Assets.Enums
@model BuildingFacilityManager.ViewModels.AssetsViewModel

@{
    ViewBag.Title = "Add Asset to" + " " + @ViewBag.SpaceLabel;
}

<style type="text/css">
    .black-color {
        color: black
    }
</style>


<H4><span class="black-color">Add Asset to:</span>  @ViewBag.SpaceLabel </H4>

&nbsp;
&nbsp;
&nbsp;

@using (Html.BeginForm("AddAssetsFromSpaceAssets", "Asset", FormMethod.Post))
{

    <div class="form-group">
        @Html.HiddenFor(s => s.Asset.Id)
        @Html.HiddenFor(e => e.Asset.SpaceId, new { Value = ViewBag.SpaceId })

    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.Asset.Label)
        @Html.TextBoxFor(e => e.Asset.Label, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Asset.Label)

    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.Asset.AssetStatus)
        @Html.DropDownListFor(e => e.Asset.AssetStatus, EnumHelper.GetSelectList(typeof(AssetStatus)),
            "Select Type", new {@class = "form-control"})
        @Html.ValidationMessageFor(e => e.Asset.AssetStatus)

    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.Asset.AssetType)
        @Html.DropDownListFor(e => e.Asset.AssetType, EnumHelper.GetSelectList(typeof(AssetType)),
            "Select Type", new {@class = "form-control"})
        @Html.ValidationMessageFor(e => e.Asset.AssetType)

    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.Asset.InstallationDate)
        @Html.TextBoxFor(e => e.Asset.InstallationDate, new { @class = "datepicker form-control", @type = "date" })
        @Html.ValidationMessageFor(e => e.Asset.InstallationDate)

    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.Asset.ManufacturedDate)
        @Html.TextBoxFor(e => e.Asset.ManufacturedDate, new { @class = "datepicker form-control", @type = "date" })
        @Html.ValidationMessageFor(e => e.Asset.ManufacturedDate)

    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.Asset.Price)
        @Html.TextBoxFor(e => e.Asset.Price, new { placeholder = "Price is in EGP", @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Asset.Price)

    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Asset.PurchaseDate)
        @Html.TextBoxFor(e => e.Asset.PurchaseDate, new { @class = "datepicker form-control", @type = "date" })
        @Html.ValidationMessageFor(e => e.Asset.PurchaseDate)

    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Asset.Vendor)
        @Html.TextBoxFor(e => e.Asset.Vendor, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Asset.Vendor)

    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Asset.VendorContact)
        @Html.TextBoxFor(e => e.Asset.VendorContact, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Asset.VendorContact)

    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Asset.Warranty)
        @Html.TextBoxFor(e => e.Asset.Warranty, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Asset.Warranty)

    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Asset.ExpectedLife)
        @Html.TextBoxFor(e => e.Asset.ExpectedLife, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.Asset.ExpectedLife)

    </div>

    @*<div>
            @Html.LabelFor(e => e.Asset.RelatedAssets)
            @Html.DropDownListFor(e => e.Asset.RelatedAssets,  new SelectList(Model.Assets, "Id","Label"),
                "Select Type", new { @class = "form-control" })
            @Html.ValidationMessageFor(e => e.Asset.RelatedAssets)

        </div>*@


    @Html.AntiForgeryToken()
    <input type="submit" value="Add" class="btn btn-primary" />

}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}


