@using Antlr.Runtime.Tree
@using BuildingFacilityManager.Models.Assets.Enums
@model List<BuildingFacilityManager.Models.Assets.Asset>
@{
    ViewBag.Title = ViewBag.spaceLabel;
    Layout = "../Shared/_Layout.cshtml";

}

<h2>@ViewBag.spaceLabel Assets</h2>
@Html.ActionLink("Add", "AddAssetsFromSpaceAssets", new { id = ViewBag.SpaceId, name = ViewBag.spaceLabel }, new { @class = "btn btn-primary", Style = "float:right;" })


<table class="table table-hover table-striped" id="assets">
    <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Status</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model)
        {

            <tr id="id-@asset.Id">

                <td>
                    @asset.Id
                </td>
                <td>
                    @asset.Label
                </td>
                <td>
                    @asset.AssetStatus
                </td>
                <td>
                    @asset.AssetType
                </td>
                <td>
                    @Html.ActionLink("View Details", "AssetsDetails", new { id = asset.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Add Work Order", "AddWorkOrderFromSpaceAssetsForm", new { id = asset.Id }, new { @class = "btn btn-primary" })
                    
                    @{
                        if (asset.AssetType == AssetType.AirCondition || asset.AssetType == AssetType.Machines || asset.AssetType == AssetType.FireFighting || asset.AssetType == AssetType.ElevatorCabinet)
                        {
                            @Html.ActionLink("Drop Health Report", "HealthReportOfAssets", new { id = asset.Id }, new { @class = "btn btn-danger" })

                        }
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            $("#assets").DataTable();
        });


    </script>
}