@model BuildingFacilityManager.ViewModels.DashBoardViewModel

<hr/>
<br/>
<h3>My Today's Reported Work Orders</h3>

<div class="thumbnail">

    <div class="caption">
        <table class="table table-hover table-bordered" id="workOrderTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Asset</th>
                    <th>Location</th>
                    <th>Storey</th>
                    <th>Date</th>
                    <th>Reporter</th>
                    <th>Fixer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var work in Model.MyCreatedWorkOrdersToday)
                {

                    <tr id="id-@work.Id">

                        <td>
                            @work.Id
                        </td>
                        <td>
                            @work.Description
                        </td>
                        <td>
                            @work.WorkOrderType
                        </td>
                        <td>
                            @work.WorkOrderStatus

                        </td>
                        <td>
                            @work.Asset.Label
                        </td>
                        <td>
                            @work.Asset.Space.Label
                        </td>
                        <td>
                            @work.Asset.Space.Storey.Label
                        </td>
                        <td>
                            @work.Date
                        </td>
                        <td>
                            @{

                                string space = " ";
                                if (@work.Reporter != null)
                                {
                                    @work.Reporter.FirstName @space @work.Reporter.LastName
                                }
                            }


                        </td>
                        <td>
                            @{
                                if (@work.Fixer != null)
                                {
                                    @work.Fixer.FirstName @space @work.Fixer.LastName

                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
