
@using BuildingFacilityManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/_LayoutCustom.cshtml";
}


<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address", @autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <label for="Email">Email address</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <label for="Password">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <input type="submit" value="Log in" class="btn btn-primary btn-block" />

                }

            </div>
        </div>
    </div>



</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Core plugin JavaScript-->
    @Scripts.Render("~/Scripts/jquery.easing.min.js");
}


@section styles
{
    @Styles.Render("~/Content/sb-admin.css")

}